body {
    background-color: #F8F9FA;
}

/* header section */
.header_container {
    width: 80vw;
    margin: 0 auto;
    padding-top: 50px;

}

.header_container h4 {
    font-size: 24px;
}

.news-tag {
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.news_color {
    color: blueviolet;
}

hr {
    width: 80vw;
    margin: 0 auto;

}

/* main section start  */

.category_menu {
    width: 80vw;
    margin: 0 auto;
    padding-top: 30px;
}

.section_width {
    width: 80vw;
    margin: 0 auto;
    padding: 15px;
}

/* set media query for short by view section */

@media only screen and (max-width: 780px) {
    .setmedia {
        display: flex;
        flex-direction: column;
    }
}

/* blog section  */

.blog {
    display: flex;
    gap: 50px;
}

.blog_details {
    display: flex;
    justify-content: space-between;
}

.author1 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}


/* blog page design  */
.linkbtn {
    text-decoration: none;
}

.blog_section {
    width: 80vw;
    margin: 0 auto;
    padding: 50px;
    background-color: white;
}